<div style="width:100%; background:#eee; padding:20px 0px; -webkit-text-size-adjust: 100%;">
   <table style="margin:0px auto; width:95%; max-width:650px; border: 1px solid #ddd; background:#fff; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:20px; color:#fff; border-spacing:0px; overflow:hidden;">
      <tbody>
         <tr>
            <td align="center" style="padding:20px;color:#000000;font-family:Tahoma, Geneva, sans-serif; border-top:1px solid #ebebeb; background:#37474F;">
               <center><img src="' . base_url('assets/frontend/img/logo.jpg') . '" width="150"  ></center>
            </td>
         </tr>
         <tr>
            <td align="left" style="padding:20px 20px 30px;color:#000000;font-family:Tahoma, Geneva, sans-serif; border-top:1px solid #ebebeb;">
               <div style="color:#000; font-family:Tahoma, Geneva, sans-serif; line-height:17px; font-size:13px;">
                  Dear [Customer's Name],<br/>
                  
				  We are excited to inform you that your payment has been successfully processed for the recent purchase you made on <?php echo date("d M, Y"); ?>. 
				  Your order is now confirmed, and we are in the process of preparing your items for delivery.<br/><br/>
				  
				  
                     <table border="1">
                        <tbody>
                           <tr>
                              <th align="left" colspan="2" style="vertical-align:top;"><b>Order summary</b></th>
                              <th width="15%" align="left"><b>Amount</b></th>
                           </tr>
                           <tr valign="top"> 
                              <td align="left" colspan="2" style="vertical-align:top;">
                                 Pooja: Saubhagya Lakshmi Homa in Tiruvannamalai <br>
                                 Campaign: Aani Thirumanjanam Festival: Perform Sri Rudra Homam and Nataraja Abhishekam in Tiruvannamalai (Arunachalam)<br>
                                 Time: 19-Aug-2023 11:51:PM<br>
                                 Status: SUCCESS					
                              </td>
                              <td width="15%">Rs. 500</td>
                           </tr>
                           <tr>
                              <td colspan="2">Service Charge</td>
                              <td>Rs. 101</td>
                           </tr>
                           <tr>
                              <td colspan="2">Prasad Charge</td>
                              <td>Rs. 51</td>
                           </tr>
                           <tr>
                              <td colspan="3"><b>Additional Add Ons added with this pooja</b></td>
                           </tr>
                           <tr> 
                              <td colspan="2">Rudraksha Mala (Rosary) (108 +1 beads)</td>
                              <td>Rs. 450</td>
                           </tr>
                           <tr> 
                              <td colspan="2">100 ML Ganga Jal</td>
                              <td>Rs. 21</td>
                           </tr>
                           <tr>
                              <td colspan="2">Total Price</td>
                              <td>Rs. 1,123</td>
                           </tr>
                        </tbody>
                     </table>
					  <table style="padding-top:10px;padding-bottom:10px;width: 100%;"> 
							  <tr><td colspan="2"><b>Devotee details</b></td></tr>  
                     </table>
                     <table  border="1" style="padding-top:10px;padding-bottom:10px;width: 100%;">
                        <tbody> 
                               
                              <tr><td>Name:</td><td>Sanjay Kumar Gupta</td></tr>
                              <tr><td>Phone:</td><td>9891617198</td></tr>
                              <tr><td>Email:</td><td>sanjay.vns1987@gmail.com</td></tr>
                              <tr><td>Address1:</td><td>Sector 3, Vashudhara</td></tr>
                              <tr><td>Address2:</td><td>Beside SN Public School</td></tr>
                              <tr><td>Town/City:</td><td>GHAZIABAD</td></tr>
                              <tr><td>State:</td><td>Uttar Pradesh </td></tr>
                              <tr><td>Additional Info: </td><td>First order</td></tr>
                            
                        </tbody>
                     </table>
                     <table style="padding-top:10px;padding-bottom:10px;width: 100%;"> 
							  <tr><td colspan="2"><b>Family details in this order</b></td></tr>  
                     </table>
					 
					 <table  border="1" style="padding-top:10px;padding-bottom:10px;width: 100%;"> 
					          <tr><td colspan="2"><b>Member 1</b></td></tr>  
                              <tr><td>Name:</td><td>Sanjay Kumar Gupta</td></tr> 
                              <tr><td>Relation:</td> <td>Self</td></tr> 
                              <tr><td>Gotra:</td><td>t</td></tr> 
                              <tr><td>Nakshatra:</td><td>t</td></tr> 
                              <tr><td>Rashi:</td><td>rt</td></tr> 
                              <tr><td>D.O.B.:</td><td>06-Aug-2023</td></tr> 
                              <tr><td>Time O.B:</td><td>12:20</td></tr> 
                              <tr><td>Place O.B.:</td><td>Varanasi, UP</td></tr> 
                              <tr><td>Additional info:</td><td>na</td></tr>  
							  
							  
							  <tr><td colspan="2"><b>Member 2</b></td></tr>  
                              <tr><td>Name:</td><td>Sanjay Kumar Gupta</td></tr> 
                              <tr><td>Relation:</td> <td>Self</td></tr> 
                              <tr><td>Gotra:</td><td>t</td></tr> 
                              <tr><td>Nakshatra:</td><td>t</td></tr> 
                              <tr><td>Rashi:</td><td>rt</td></tr> 
                              <tr><td>D.O.B.:</td><td>06-Aug-2023</td></tr> 
                              <tr><td>Time O.B:</td><td>12:20</td></tr> 
                              <tr><td>Place O.B.:</td><td>Varanasi, UP</td></tr> 
                              <tr><td>Additional info:</td><td>na</td></tr>  
                         
                     </table>
					 
					 
                  <br /><br />If you have any questions or need further assistance, please don't hesitate to contact our customer support team at info@devopasana.com or +91 8794 79 3316.
 
<br /><br />Thank you for choosing Devopasana Digital Services! We appreciate your trust in us and look forward to serving you again in the future. 
                  <br /><br />
                  Best Regards,<br />
                  Devopasana Digital Services <br /><br />
				    To know more, please visit our website or social media sites.<br />
					<a href="https:devopasana.com">https:devopasana.com</a><br />
					<a href="https://www.facebook.com/Devopasana-Digital-Services-115404771574082/">https://www.facebook.com/Devopasana-Digital-Services-115404771574082/</a><br />
					<a href="https://www.linkedin.com/posts/devopasana-digital-services">https://www.linkedin.com/posts/devopasana-digital-services</a><br />
					<a href="https://www.instagram.com/devopasan/a">https://www.instagram.com/devopasan/a</a><br />
					<a href="https://youtube.com/@Devopasana">https://youtube.com/@Devopasana</a><br /><br />
                  <b>Note: This is an automated email, and cannot be replied to.</b>
               </div>
            </td>
         </tr>
         <tr>
            <td align="center" style="padding:10px;color:#fff;font-family:Tahoma, Geneva, sans-serif; border-top:1px solid #ebebeb; background:#37474F;">
               <p style="color:#fff;font-family:Tahoma, Geneva, sans-serif;font-size:13px">Copyright &copy; devopasana.com - All Rights Reserved.</p>
            </td>
         </tr>
      </tbody>
   </table>
</div>