<IfModule mod_rewrite.c>
RewriteEngine On
Options -Indexes
RewriteBase /devopasana/index.php
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /devopasana/index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /devopasana/index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /devopasana/index.php?/$1 [L]
  
</IfModule>